@import url('variables.css');

.btn {
  all: unset;

  &.btn-primary,
  &.btn-secondary {
    padding: 0.5rem 1rem;

    --btn-text: var(--background);
    --btn-background: var(--primary);
    --btn-background-active: var(--primary-shade-1);

    color: var(--btn-text);
    background: var(--btn-background);
    border-radius: 0.25rem;

    &:active,
    &:hover {
      background-color: var(--btn-background-active);
    }
  }

  &.btn-secondary {
    --btn-text: var(--white);
    --btn-background: var(--background);
    --btn-background-active: var(--background-tint-1);
    --btn-border-color: var(--white);
    border: 1px solid var(--btn-border-color);
  }
}