@import url('variables.css');

.btn {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  
  --btn-text: var(--background);
  --btn-background: var(--primary);
  --btn-background-active: var(--primary-shade-1);
  color: var(--btn-text);
  background: var(--btn-background);
  transition: background-color 0.4s ease;

  &.btn-primary,
  &.btn-secondary {
    padding: 0.5rem 1rem;
  }

  &.btn-secondary {
    --btn-text: var(--white);
    --btn-background: var(--background);
    --btn-background-active: var(--background-tint-1);
    --btn-border-color: var(--white);
    border: 1px solid var(--btn-border-color);
  }

  &.btn-icon {
    --btn-text: var(--white);
    --btn-background: var(--background);
    --btn-background-active: var(--background-tint-1);
    height: 2rem;
    aspect-ratio: 1;
    padding: 0;
    border-radius: 0.375rem;
  }

  &.btn-pause-play {
    border-radius: 50%;
    font-size: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    text-align: center;
  }

  &.btn-pause-play-large {
    padding: 0.25em 0.5em;
    aspect-ratio: 1 / 1;
    font-size: 5rem;
    border-radius: 50%;
  }

  &.btn-control {
    padding: 0;
    position: relative;

    i {
      height: 1.5rem;
    }

    i::before {
      font-size: 1.5rem;
    }
  }

  &.btn-control.active {
    color: var(--white);

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: var(--white);
    }
  }

  &.clicked {
    background-color: var(--btn-background-active);
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: var(--btn-background-active);
  }
}