@import url('variables.css');

.btn {
  all: unset;
  cursor: pointer;

  &.btn-primary,
  &.btn-secondary {
    padding: 0.5rem 1rem;

    --btn-text: var(--background);
    --btn-background: var(--primary);
    --btn-background-active: var(--primary-shade-1);

    color: var(--btn-text);
    background: var(--btn-background);
    border-radius: 0.25rem;

    &:active,
    &:hover {
      background-color: var(--btn-background-active);
    }
  }

  &.btn-secondary {
    --btn-text: var(--white);
    --btn-background: var(--background);
    --btn-background-active: var(--background-tint-1);
    --btn-border-color: var(--white);
    border: 1px solid var(--btn-border-color);
  }

  &.btn-pause-play {
    border-radius: 50%;
    font-size: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    text-align: center;
    align-items: center;

    i {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }
  }

  &.btn-pause-play-large {
    padding: 0.25em 0.5em;
    aspect-ratio: 1 / 1;
    font-size: 5rem;
    border-radius: 50%;
  }
}