@import url('variables.css');

.arrows-container {
  display: flex;
  align-items: center;
  column-gap: 0.25em;

  .vertical-arrows-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
  }
}

.generic-controls-container {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .controls-inner-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

.number-buttons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
  gap: 0.1em;
  width: 100%;
  margin-top: 0.75em;
}

.check {
  all: unset;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--success);
  font-size: 1.5rem;
  text-align: center;
}