@import url('variables.css');

.arrows-container {
  display: flex;
  align-items: center;
  column-gap: 0.25em;

  .vertical-arrows-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
  }
}

.btn-arrow,
.btn-arrow:active,
.btn-control,
.btn-control:hover,
.btn-control:active,
.btn-control:focus {
  --btn-text: var(--accent);
  --btn-bg: var(--background);

  color: var(--btn-text);
  background-color: var(--btn-bg);
}

.btn-arrow {
  border: 1px solid var(--btn-text);
  --btn-text: var(--accent);
  
  &:hover {
    color: var(--btn-bg);
    background-color: var(--btn-text);
  }
}

.btn-control {
  padding: 0;
  font-size: 1.5rem;
  position: relative;
}

.btn-control.active {
  --btn-text: var(--accent);
  
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: var(--btn-text);
  }
}

.error {
  background-color: var(--danger);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 90%;
}

.generic-controls-container {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-buttons-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 0.1em;
  aspect-ratio: 9 / 1;
  width: 100%;
  margin-top: 0.75em;

  .btn-number {
    text-align: center;
  }
}