@import url('variables.css');

* {
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-select: none !important;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0.5rem 0.75rem;
  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-weight: 900;
  text-align: center;
  margin-top: 0;
}

html {
  font-size: 16px;
}

select { color: var(--text); }

.disabled {
  opacity: 0.6;
  
  * { cursor: default; }
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: flex;

  .btn {
    align-self: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 230px;
    background-color: var(--background);
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    z-index: 1;
    padding: 0.5em;
    border-radius: 5px;

    .inner-toggle {
      margin-left: 1rem;
      padding-top: 0.25em;
    }

    .label:first-child { padding-top: 0; }
    
    .label {
      display: flex;
      align-items: center;
      padding-top: 0.5em;
    }
  }
}

.dropdown.show .dropdown-content {
  display: block;
}

.game-info-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-top: 1em;
  font-size: 0.8em;

  #time-container { text-align: right; }

  .counter {
    font-size: 1rem;
    font-weight: 500;
  }
}

.global-functions {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.hidden { display: none !important; }

.label {
  margin-right: 0.25em;
}

.grey-text { color: var(--text-grey-2); }

/* TOGGLE BUTTON */
.checkbox:checked + .slider {
  background-color: var(--primary);
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(1.8rem);
  -ms-transform: translateX(1.8rem);
  transform: translateX(1.8rem);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.25rem;
  height: 1.5rem;
  margin-left: 0.5em;
}

/* Hide default HTML checkbox */
.switch .checkbox {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1.5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}


#new-game-form .select {
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid var(--primary);
  font-size: 1rem;
  font-weight: 300;
}

#new-game-form #new-game {
  margin-left: 1.5em;
}