@import url('variables.css');

#board-container {
  position: relative;
  border: 2px solid var(--text);
  margin: 0.5em auto;

  #sudoku-board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    aspect-ratio: 1;
    width: 100%;
  }
}

.cell {
  border-right: 1px solid var(--text-30);
  border-bottom: 1px solid var(--text-30);
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  align-content: center;
  color: var(--user-answer);

  &.is-given {
    color: var(--text);
    font-weight: normal;
  }

  &.right-border { border-right: 2px solid var(--text); }

  &.bottom-border { border-bottom: 2px solid var(--text); }

  &.same-value-highlight { background-color: var(--same-value-highlight); }

  &.secondary-highlight { background-color: var(--highlight); }

  &.invalid-highlight { background-color: var(--invalid-bg); }

  &.is-given.selected-highlight { color: var(--selected-text); }
  
  &.selected-highlight {
    color: var(--user-answer-selected-text);
    background-color: var(--selected-highlight);
  }

  &.selected-highlight {
    .notes-container .note { color: var(--selected-text); }
  }
  
  .notes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px 2px;
    
    .note {
      font-size: 0.5rem;
      color: var(--accent);
      opacity: 0;
    }

    .note.show { opacity: 1; }
  }
}

.invalid { color: var(--invalid-text) !important; }

.loading-container,
.play-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container .loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 5px solid var(--text);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.play-button-container .btn-icon-large {
  font-size: 5rem;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}