:root[data-theme="light"] {
  --text: #211622;
  --background: #f4f6f4;
  --primary: #6a4c94;
  --secondary: #7b85a3;
  --secondary-700: rgb(63, 70, 90, 0.3);
  --accent: #aa4157;
}

:root[data-theme="dark"] {
  --text: #e8dde9;
  --background: #090b09;
  --primary: #896bb3;
  --secondary: #5c6684;
  --secondary-700: #a5acc0;
  --accent: #be556c;
}