:root {
  --black: #0F1316;
  --black-tint-1: #192125;
  --black-tint-2: #1C293A;
  --black-tint-3: #29343D;

  --white: #DADDD4;
  --white-opacity-50: rgba(218, 221, 212, 0.5);
  --white-shade-grey: #B5B5A1;

  --brand: #E7E718;
  --brand-shade: #B9B913;

  --blue: #96D0FE;
  --blue-shade-1: #6CBEE6;
  --blue-shade-2: #3C649F;
  --blue-shade-2-saturated: #004DAF;

  --red: #CB180B;
  --red-tint: #EAB0AC;
  --red-shade: #B0180E;

  --green: #7DBD41;
  --green-shade: #649834;

  --grey: #9ba2a8;
}

:root[data-theme="light"] {
  --text: #0c0c09;
  --text-30: rgba(12, 12, 9, 0.3);
  --background: #f7f7f4;
  --btn-text: var(--text);

  --primary: #E7E718;
  --selected-highlight: rgba(41, 94, 141, 0.85);
  --user-answer-selected-text: #c7e7f3;
  --selected-text: var(--text);
  --same-value-highlight: rgba(41, 94, 141, 0.5);
  --highlight: rgba(51, 122, 184, 0.18);

  --accent: #41464a;
  --user-answer: #094274;
  --invalid-bg: #faa49e;
  /* 1 shade lighter */
  --invalid-text: #f44034;

  --green: #7bc03f;
}

:root[data-theme="dark"] {
  --background: var(--black);
  --background-tint-1: var(--black-tint-3);

  --text: var(--white);
  --cell-border: var(--white-opacity-50);
  --text-grey-1: var(--white-shade-grey);
  --text-grey-2: var(--grey);

  --primary: var(--brand);
  --primary-shade-1: var(--brand-shade);

  --danger: var(--red);
  --danger-shade-1: var(--red-shade);

  --success: var(--green);
  --success-shade-1: var(--green-shade);

  --invalid-cell-background: var(--red-tint);
  --related-cell-background: var(--black-tint-2);
  --same-value-cell-background: var(--blue-shade-2);
  --selected-cell-background: var(--blue-shade-1);

  --user-answer-cell-text: var(--blue);
  --prefilled-cell-text: var(--white);
  --invalid-cell-text: var(--red);

  --user-answer-selected-cell-text: var(--blue-shade-2-saturated);
  --notes-selected-cell-text: var(--black);
  --prefilled-selected-cell-text: var(--black);
}